*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.pdf
*.synctex.gz
*.txss2
*.tdo
.ipynb_checkpoints/
*.csv
*.pdf
*.zip
kcluster/
__pycache__/
.RData
.Rhistory
kcluster.py
